﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminMaster.master.cs" Inherits="MoreInline.AdminMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    <link href="agency-video/img/favicon.png" rel="icon" />

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->

    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" />
    <!-- Theme style -->

    <link href="css/MoreInline_Style.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link href="dist/css/skins/_all-skins.min.css" rel="stylesheet" />

    <%-- ----------------------------------- Script --------------------------------------------- --%>
    <!-- jQuery 3 -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>



    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=da9162b7-9464-47f3-9b3c-d9b8c4785b9f"> </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <form id="form1" runat="server">
        <div class="wrapper">

            <!-- Main Header -->
            <header class="main-header" style="background-color: #000000;">

                <!-- Logo -->
                <a href="../Dashboard/Dashboard.aspx" class="logo" style="background-color: #000000;">
                    <img id="m_Logo" src="../Images/moreinline_logo.png" width="150px" height="50px" />
                </a>

                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation" style="background-color: #000000;">
                    <audio id="Naudio" src="../Sounds/ping.mp3" autostart="false"></audio>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="count label label-warning">0</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have <span id="headercount">0</span> notifications</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu" id="dropdown"></ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <asp:Image ID="ImgLogin" runat="server" CssClass="user-image" />

                                    <%--<img src="../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">--%>
                                    <!-- hidden-xs hides the username on small devices so only the image appears.
                                    <span class="hidden-xs">Username</span> -->
                                </a>
                                <ul class="dropdown-menu">
                                    <%-- style="background-color: #171E1E;" --%>
                                    <!-- The user image in the menu -->
                                    <li class="user-header" style="background-color: #A9C502;">
                                        <asp:Image ID="ImgLogin1" runat="server" CssClass="img-circle" />
                                        <%--<img src="../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">--%>
                                        <p>
                                            <asp:Label ID="LblUserName" runat="server" Text="Username"></asp:Label>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-12 user-drop">
                                                <a href="../Account/AccountSettings.aspx" style="color: #fff;">Account Settings</a>
                                            </div>
                                            <div class="col-xs-12 user-drop">
                                                <a href="../Generic/GenericInfo.aspx">Edit Generic Settings</a>
                                            </div>
                                          <%--  <div class="col-xs-12 user-drop">
                                                <a href="#">Contact Support</a>
                                            </div>--%>
                                        </div>

                                        <!-- /.row -->
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-right">
                                            <a href="../Logout.aspx" class="btn btn-default btn-flat">Logout</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <!-- Content Wrapper. Contains page content  style=" background-image: linear-gradient(to bottom right, #f7f8f9, #A9C502 400%);"-->
            <div class="content-wrapper m-l-0" >
                <!-- Main content -->
                <section class="content container-fluid" style="padding-bottom: 0px;">

                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>


                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        </div>

    </form>
    <script>
        $(document).ready(function () {
            LoadNotifications();
        });

        function LoadNotifications() {
            $.ajax({
                type: 'post',
                url: '../Dashboard/Dashboard.aspx/GetNotifications',
                contentType: "application/json; charset=utf-8",
                data: {},
                datatype: "json",
                success: function (response) {
                    debugger;
                    for (var i = 0; i < response.d.length; i++) {

                        updateNotificationCount2();
                    }
                    $('#headercount').text(response.d.length);

                    $('#dropdown').empty();
                    if (response.d.length == 0) {
                        $('#dropdown').append($('<li>Currently You Have No New Notifications.</li>'));
                    }
                    var items = [];
                    $.each(response.d, function (i, item) {
                        debugger;
                        items.push('<li><a href=' + item.Path + ' >  ' + item.Code + ' ' + item.Text + '</a></li>');
                    });
                    $('#dropdown').append(items.join(''));
                    $('.dropdown-toggle').attr("aria-expanded", "true")
                    $('#dropdown').attr("aria-expanded", "true")
                },
                error: function (error) {
                    debugger;
                    console.log(error);
                }
            })
        }

        function updateNotificationCount2() {
            debugger;
            $('span.count').show();
            var count = 0;
            count = parseInt($('span.count').html()) || 0;
            count++;
            PlaySound();
            // $('span.noti').css("color", "white");
            $('span.count').css({ "background-color": "red", "color": "white" });
            $('span.count').html(count);

        }

        function PlaySound() {
            var sound = document.getElementById("Naudio");
            sound.play()
        }

    </script>
</body>
</html>
