﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="WithMenuMaster.master.cs" Inherits="MoreInline.WithMenuMaster" %>

<!DOCTYPE html>

<html>

<head runat="server">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link href="agency-video/img/favicon.png" rel="icon" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->

    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" />
    <!-- Theme style -->

    <link href="css/MoreInline_Style.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link href="dist/css/skins/_all-skins.min.css" rel="stylesheet" />


    <%-- ----------------------------------- Script --------------------------------------------- --%>
    <!-- jQuery 3 -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>



    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=da9162b7-9464-47f3-9b3c-d9b8c4785b9f"> </script>
    <style>
        /*html, body { width: 100%; height: 100%;}*/
        /*body { background: radial-gradient(ellipse at center, rgba(194,234,219,1) 0%,rgba(227,215,242,1) 74%,rgba(227,215,242,1) 74%); background-size: 300%; padding: 3em; color: #333; font-family: 'Source Sans Pro'; font-size: 20px; font-weight: 300; }*/

        #searchform {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 500px;
            transform: translateY(10%);
        }



        #search-bar {
            display: block;
            margin: .25em 0 0;
            width: 100%;
            padding: .25em .5em;
            font-size: 1.2em;
        }

        .output {
            width: 60%;
            list-style: none;
            min-height: 0px;
            border-top: 0 !important;
            color: #767676;
            font-size: .75em;
            transition: min-height 0.2s;
            position: absolute;
            z-index: 5;
            padding-left:0;
        }

        .output, #search-bar {
            background: #fff;
            border: 1px solid #767676;
        }

        .prediction-item {
            padding: .5em .75em;
            transition: color 0.2s, background 0.2s;
        }

        .output:hover .focus {
            background: #fff;
            color: #767676;
        }

            .prediction-item:hover, .focus,
            .output:hover .focus:hover {
                background: #ddd;
                color: #333;
            }

        .prediction-item:hover {
            cursor: pointer;
        }

        .prediction-item strong {
            color: #333;
        }

        .prediction-item:hover strong {
            color: #000;
        }


        #submit {
            display: block;
            margin: .5em 0 2.5em;
            padding: .25em .5em;
            font-size: 1.2em;
            color: #439973;
            border: 1px solid #439973;
            background: 0;
            transition: color 0.2s, background 0.2s;
        }

            #submit:hover {
                color: #fff;
                background: #439973;
            }


        article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
            display: block
        }

        audio, canvas, video {
            display: inline-block
        }

            audio:not([controls]) {
                display: none;
                height: 0
            }

        [hidden], template {
            display: none
        }


        abbr[title] {
            border-bottom: 1px dotted
        }



        dfn {
            font-style: italic
        }

        hr {
            height: 0
        }

        mark {
            background: #ff0;
            color: #000
        }

        code, kbd, pre, samp {
            font-family: monospace,serif;
            font-size: 1em
        }

        pre {
            white-space: pre-wrap
        }

        q {
            quotes: "\201C" "\201D" "\2018" "\2019"
        }

        small {
            font-size: 80%
        }

        sub, sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline
        }

        sup {
            top: -.5em
        }

        sub {
            bottom: -.25em
        }

        img {
            border: 0
        }

        svg:not(:root) {
            overflow: hidden
        }

        figure {
            margin: 0
        }

        fieldset {
            border: 1px solid silver;
            margin: 0 2px;
            padding: .35em .625em .75em
        }

        legend {
            border: 0;
            padding: 0
        }

        .find-bar {
            width: 60%;
            float: left;
            margin-top: 5px;
        }
    </style>

    <script>

        $(document).ready(function () {

            var $terms = [
                ['i want to send appointment ad', '../MKT_Assets/Send.aspx'],
                ['i want to add a new customer', '../Contacts/AddNewContact.aspx'],
                ['i want to see ads i’ve sent', '../MKT_Assets/AssetsSent.aspx'],
                ['i want to order a new ad', '../MKT_Assets/OrderAssets.aspx'],
                ['i want to change a ad', '../MKT_Assets/ViewAssets.aspx'],

                ['i want to add multiple contacts', '../Contacts/UploadContacts.aspx'],
                ['i want to see my contacts', '../Contacts/ViewContacts.aspx'],
                ['i want to upgrade my account', '../Dashboard/Upgrade.aspx'],
                ['i want to view my appointment calendar', '../MKT_Assets/SentItems.aspx'],

                // ['i want to cancel my account ', 'https://www.abc.com'],
                // ['i want to contact customer service', 'https://www.moreinline.com'],
                ['i want to take a tour', '../Dashboard/Dashboard.aspx'],
                ['i want to re-record my general message', '../Generic/GenericInfo.aspx'],
            ].sort(),
                $return = [];

            function strInArray(str, strArray) {
               
                for (var j = 0; j < strArray.length; j++) {
                    if (strArray[j][0].match(str) && $return.length < 5) {
                      
                        var $h = strArray[j][0].replace(str, '<strong>' + str + '</strong>');
                        $return.push('<li class="prediction-item"><span class="prediction-text"><a href="' + strArray[j][1] + '">' + $h + '</a></span></li>');
                    }
                }

            }

            function nextItem(kp) {
               
                if ($('.focus').length > 0) {
                    var $next = $('.focus').next(),
                        $prev = $('.focus').prev();
                }

                if (kp == 38) { // Up

                    if ($('.focus').is(':first-child')) {
                        $prev = $('.prediction-item:last-child');
                    }

                    $('.prediction-item').removeClass('focus');
                    $prev.addClass('focus');

                } else if (kp == 40) { // Down

                    if ($('.focus').is(':last-child')) {
                        $next = $('.prediction-item:first-child');
                    }

                    $('.prediction-item').removeClass('focus');
                    $next.addClass('focus');
                }
            }

            $(function () {
                $('#search-bar').keydown(function (e) {
                   
                    $key = e.keyCode;
                    if ($key == 38 || $key == 40) {
                        nextItem($key);
                        return;
                    }

                    setTimeout(function () {
                        var $search = $('#search-bar').val();
                        $return = [];

                        strInArray($search, $terms);

                        if ($search == '' || !$('input').val) {
                            $('.output').html('').slideUp();
                        } else {
                            $('.output').html($return).slideDown();
                        }

                        $('.prediction-item').on('click', function () {
                            $text = $(this).find('span').text();
                            $('.output').slideUp(function () {
                                $(this).html('');
                            });
                            $('#search-bar').val($text);
                        });

                        $('.prediction-item:first-child').addClass('focus');

                    }, 50);
                });
            });

            $('#search-bar').focus(function () {
                if ($('.prediction-item').length > 0) {
                    $('.output').slideDown();
                }

                $('#searchform').submit(function (e) {
                    e.preventDefault();
                    $text = $('.focus').find('span').text();
                    $('.output').slideUp();
                    $('#search-bar').val($text);
                    $('input').blur();
                });
            });

            $('#search-bar').blur(function () {
                if ($('.prediction-item').length > 0) {
                    $('.output').slideUp();
                }
            });

        });
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <form id="form1" runat="server">
            <%--<asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
            <asp:UpdateProgress ID="UpdateProgress1" runat="server" AssociatedUpdatePanelID="UpdatePanel1">
                <ProgressTemplate>
                    <div class="pre-modal">
                        <div class="pre-center">
                            <img src="../Images/preloader.gif" />
                        </div>
                    </div>
                </ProgressTemplate>
            </asp:UpdateProgress>
            <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                <ContentTemplate>
                </ContentTemplate>
            </asp:UpdatePanel>--%>

            <!-- Main Header -->
            <header class="main-header" style="background-color: #000000;">
                <!-- Logo -->
                <a href="../Dashboard/Dashboard.aspx" class="logo" style="background-color: #000000;">
                    <img id="m_Logo" src="../Images/moreinline_logo.png" width="160px" height="35px" />
                </a>
                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation" style="background-color: #000000;">
                    <audio id="Naudio" src="../Sounds/ping.mp3" autostart="false"></audio>
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="background-color: #000000;">
                        <span class="sr-only">Toggle navigation</span>

                    </a>

                    <div class="find-bar">
                        <input type="text" id="search-bar" autocomplete="off" placeholder="Search here if you want to find something" />
                        <ul class="output" style="display: none;">
                        </ul>
                    </div>

                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">

                        <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="count label label-warning">0</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have <span id="headercount">0</span> notifications</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu" id="dropdown"></ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <asp:Image ID="ImgLogin" runat="server" CssClass="user-image" />
                                    <!-- The user image in the navbar
                                    <img src="../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                                    <!-- hidden-xs hides the username on small devices so only the image appears.
                                    <span class="hidden-xs">Username</span> -->
                                </a>
                                <ul class="dropdown-menu">
                                    <%-- style="background-color: #171E1E;" --%>
                                    <!-- The user image in the menu -->
                                    <li class="user-header" style="background-color: #A9C502;">
                                        <asp:Image ID="ImgLogin1" runat="server" CssClass="img-circle" />
                                        <%--<img src="../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">--%>
                                        <p>
                                            <asp:Label ID="LblUserName" runat="server" Text="Username"></asp:Label>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-12 user-drop">
                                                <a href="../Account/AccountSettings.aspx" style="color: #fff;">Account Settings</a>
                                            </div>
                                            <div class="col-xs-12 user-drop">
                                                <a href="../Generic/GenericInfo.aspx">Edit Generic Settings</a>
                                            </div>
                                            <%--     <div class="col-xs-12 user-drop">
                                                <a href="#">Contact Support</a>
                                            </div>--%>
                                        </div>
                                        <!-- /.row -->
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-right">
                                            <a href="../Logout.aspx" class="btn btn-default btn-flat">Logout</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>

                </nav>
                <%--  <nav class="navbar navbar-static-top" role="navigation" style="background-color: #333337;">
                        <input type="text" id="search-bar" autocomplete="off"  />
                        <ul class="output" style="display: none;">
                        </ul>

                    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Patua+One' rel='stylesheet' type='text/css'>
                    <button type="submit" id="submit" hidden="hidden">Search</button>
                </nav>--%>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar Menu -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li><a href="../Dashboard/Dashboard.aspx"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                        <li class="treeview p-l-0 menu-open">
                            <a href="#">
                                <i class="fa fa-contao"></i><span>CONTACTS</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu" style="display: block;">
                                <li><a href="../Contacts/AddNewContact.aspx">Add New Contacts</a></li>
                                <li><a href="../Contacts/UploadContacts.aspx">Upload Contacts</a></li>
                                <li><a href="../Contacts/ViewContacts.aspx">View Contacts</a></li>
                            </ul>
                        </li>
                        <li class="treeview p-l-0 menu-open">
                            <a href="#">
                                <i class="fa fa-briefcase"></i><span>MKT ASSETS</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu" style="display: block;">
                                <li><a href="../MKT_Assets/OrderAssets.aspx">Order Assets</a></li>
                                <li><a href="../MKT_Assets/ViewAssets.aspx">View Assets</a></li>
                                <li><a href="../MKT_Assets/Send.aspx">Send Assets</a></li>
                                <li><a href="../MKT_Assets/AssetsSent.aspx">Assets Sent</a></li>
                                <li><a href="../MKT_Assets/ArchiveAssets.aspx">Archive Assets</a></li>
                                <li><a href="../MKT_Assets/SentItems.aspx">Appointments Calendar</a></li>
                            </ul>
                        </li>
                        <!-- /.sidebar-menu -->
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Main content -->
                <section class="content container-fluid">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        </form>
    </div>

    <script>
        $(document).ready(function () {
            LoadNotifications();
        });

        function LoadNotifications() {
            $.ajax({
                type: 'post',
                url: '../Dashboard/Dashboard.aspx/GetNotifications',
                contentType: "application/json; charset=utf-8",
                data: {},
                datatype: "json",
                success: function (response) {

                    for (var i = 0; i < response.d.length; i++) {

                        updateNotificationCount2();
                    }
                    $('#headercount').text(response.d.length);

                    $('#dropdown').empty();
                    if (response.d.length == 0) {
                        $('#dropdown').append($('<li>Currently You Have No New Notifications.</li>'));
                    }
                    var items = [];
                    $.each(response.d, function (i, item) {
                        items.push('<li><a href=' + item.Path + ' >  ' + item.Code + ' ' + item.Text + '</a></li>');
                    });
                    $('#dropdown').append(items.join(''));
                    $('.dropdown-toggle').attr("aria-expanded", "true")
                    $('#dropdown').attr("aria-expanded", "true")
                },
                error: function (error) {

                    console.log(error);
                }
            })
        }

        function updateNotificationCount2() {

            $('span.count').show();
            var count = 0;
            count = parseInt($('span.count').html()) || 0;
            count++;
            PlaySound();
            // $('span.noti').css("color", "white");
            $('span.count').css({ "background-color": "red", "color": "white" });
            $('span.count').html(count);

        }

        function PlaySound() {

            $.ajax({
                type: 'post',
                url: '../Dashboard/Dashboard.aspx/Notify',
                contentType: "application/json; charset=utf-8",
                data: {},
                datatype: "json",
                success: function (response) {
                    if (response.d == "notify") {
                        var sound = document.getElementById("Naudio");
                        sound.play()
                    }

                },
                error: function (error) {
                    console.log(error);
                }
            })

        }

    </script>
</body>
</html>
