﻿* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #000000;
}



@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width:767px) {
    .col-md-6 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width:767px) {
    .col-md-12 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}


#banner {
    margin-top: 50px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #return-to-top:hover {
        background: rgba(0, 0, 0, 0.9);
    }

        #return-to-top:hover i {
            color: #fff;
            top: 5px;
        }

.header-class {
    /*border-bottom: 1px solid #c7c7c7;*/
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0,0,0,0.17), 0 0 5px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card {
    background: #fff;
    padding: 40px 20px 52px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .card-1:hover {
        box-shadow: 0 14px 28px #808080, 0 10px 10px #808080;
    }

.footer-area.footer-dark {
    background-color: #121212;
}

.footer-area {
    padding-top: 90px;
    padding-bottom: 120px;
}

@media(max-width:766px) {
    #banner {
        margin-top: 100px;
    }
}

.sub-heading {
    font-size: 16px;
    line-height: 24px;
    color: #6c6c6c;
    margin-top: 24px;
}

.contact-wrapper .contact-title {
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

@media (max-width: 767px) {
    .contact-wrapper .contact-title {
        font-size: 26px;
    }
}

.contact-wrapper .contact-title i {
    color: #121212;
    margin-right: 8px;
}

.contact-wrapper .contact-title span {
    font-weight: 400;
}

.form-input .help-block {
    margin-top: 2px;
}

    .form-input .help-block .list-unstyled li {
        font-size: 12px;
        line-height: 16px;
        color: #fc3832;
    }

.form-input label {
    font-size: 12px;
    line-height: 18px;
    color: #6c6c6c;
    margin-bottom: 8px;
    display: inline-block;
}

.form-input .input-items {
    position: relative;
}

    .form-input .input-items input, .form-input .input-items textarea {
        width: 100%;
        height: 44px;
        border: 2px solid;
        padding-left: 44px;
        padding-right: 12px;
        position: relative;
        font-size: 16px;
    }

    .form-input .input-items textarea {
        padding-top: 8px;
        height: 130px;
        resize: none;
    }

    .form-input .input-items i {
        position: absolute;
        top: 11px;
        left: 13px;
        font-size: 20px;
        z-index: 9;
    }

    .form-input .input-items.default input, .form-input .input-items.default textarea {
        border-color: #a4a4a4;
        color: #6c6c6c;
    }

        .form-input .input-items.default input:focus, .form-input .input-items.default textarea:focus {
            border-color: #0023C4;
        }

        .form-input .input-items.default input::placeholder, .form-input .input-items.default textarea::placeholder {
            color: #6c6c6c;
            opacity: 1;
        }

        .form-input .input-items.default input::-moz-placeholder, .form-input .input-items.default textarea::-moz-placeholder {
            color: #6c6c6c;
            opacity: 1;
        }

        .form-input .input-items.default input::-moz-placeholder, .form-input .input-items.default textarea::-moz-placeholder {
            color: #6c6c6c;
            opacity: 1;
        }

        .form-input .input-items.default input::-webkit-input-placeholder, .form-input .input-items.default textarea::-webkit-input-placeholder {
            color: #6c6c6c;
            opacity: 1;
        }

    .form-input .input-items.default i {
        color: #6c6c6c;
    }

    .form-input .input-items.active input, .form-input .input-items.active textarea {
        border-color: #0067f4;
        color: #121212;
    }

        .form-input .input-items.active input::placeholder, .form-input .input-items.active textarea::placeholder {
            color: #121212;
            opacity: 1;
        }

        .form-input .input-items.active input::-moz-placeholder, .form-input .input-items.active textarea::-moz-placeholder {
            color: #121212;
            opacity: 1;
        }

        .form-input .input-items.active input::-moz-placeholder, .form-input .input-items.active textarea::-moz-placeholder {
            color: #121212;
            opacity: 1;
        }

        .form-input .input-items.active input::-webkit-input-placeholder, .form-input .input-items.active textarea::-webkit-input-placeholder {
            color: #121212;
            opacity: 1;
        }

    .form-input .input-items.active i {
        color: #0067f4;
    }

    .form-input .input-items.error input, .form-input .input-items.error textarea {
        border-color: #fc3832;
        color: #fc3832;
    }

        .form-input .input-items.error input::placeholder, .form-input .input-items.error textarea::placeholder {
            color: #fc3832;
            opacity: 1;
        }

        .form-input .input-items.error input::-moz-placeholder, .form-input .input-items.error textarea::-moz-placeholder {
            color: #fc3832;
            opacity: 1;
        }

        .form-input .input-items.error input::-moz-placeholder, .form-input .input-items.error textarea::-moz-placeholder {
            color: #fc3832;
            opacity: 1;
        }

        .form-input .input-items.error input::-webkit-input-placeholder, .form-input .input-items.error textarea::-webkit-input-placeholder {
            color: #fc3832;
            opacity: 1;
        }

    .form-input .input-items.error i {
        color: #fc3832;
    }

    .form-input .input-items.success input, .form-input .input-items.success textarea {
        border-color: #4da422;
        color: #4da422;
    }

        .form-input .input-items.success input::placeholder, .form-input .input-items.success textarea::placeholder {
            color: #4da422;
            opacity: 1;
        }

        .form-input .input-items.success input::-moz-placeholder, .form-input .input-items.success textarea::-moz-placeholder {
            color: #4da422;
            opacity: 1;
        }

        .form-input .input-items.success input::-moz-placeholder, .form-input .input-items.success textarea::-moz-placeholder {
            color: #4da422;
            opacity: 1;
        }

        .form-input .input-items.success input::-webkit-input-placeholder, .form-input .input-items.success textarea::-webkit-input-placeholder {
            color: #4da422;
            opacity: 1;
        }

    .form-input .input-items.success i {
        color: #4da422;
    }

    .form-input .input-items.disabled input, .form-input .input-items.disabled textarea {
        border-color: #a4a4a4;
        color: #6c6c6c;
        background: none;
    }

        .form-input .input-items.disabled input::placeholder, .form-input .input-items.disabled textarea::placeholder {
            color: #6c6c6c;
            opacity: 1;
        }

        .form-input .input-items.disabled input::-moz-placeholder, .form-input .input-items.disabled textarea::-moz-placeholder {
            color: #6c6c6c;
            opacity: 1;
        }

        .form-input .input-items.disabled input::-moz-placeholder, .form-input .input-items.disabled textarea::-moz-placeholder {
            color: #6c6c6c;
            opacity: 1;
        }

        .form-input .input-items.disabled input::-webkit-input-placeholder, .form-input .input-items.disabled textarea::-webkit-input-placeholder {
            color: #6c6c6c;
            opacity: 1;
        }

    .form-input .input-items.disabled i {
        color: #6c6c6c;
    }

.form-style-two .form-input .input-items input, .form-style-two .form-input .input-items textarea {
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 44px;
}

.form-style-two .form-input .input-items i {
    left: auto;
    right: 13px;
}

.form-style-three .form-input {
    text-align: center;
}

    .form-style-three .form-input .input-items input, .form-style-three .form-input .input-items textarea {
        border-radius: 50px;
        text-align: center;
    }

.form-style-four .form-input label {
    padding-left: 44px;
    margin-bottom: 0;
}

.form-style-four .form-input .input-items input, .form-style-four .form-input .input-items textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.form-style-five .form-input {
    position: relative;
}

    .form-style-five .form-input label {
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: #fff;
        z-index: 5;
        padding: 0 5px;
    }

    .form-style-five .form-input .input-items input, .form-style-five .form-input .input-items textarea {
        border-radius: 5px;
    }

.light-rounded-buttons ul li {
    display: inline-block;
    margin-left: 18px;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .light-rounded-buttons ul li {
        margin-left: 0;
    }
}

.light-rounded-buttons ul li:first-child {
    margin-left: 0;
}

.light-rounded-buttons .main-btn {
    border-radius: 5px;
}

.light-rounded-buttons .light-rounded-one {
    border-color: #0067f4;
}

    .light-rounded-buttons .light-rounded-one:hover {
        color: #0067f4;
        background-color: rgba(0, 103, 244, 0.4);
    }

.light-rounded-buttons .light-rounded-two {
    color: #fff;
    background-color: #0067f4;
    border-color: #0067f4;
}

    .light-rounded-buttons .light-rounded-two:hover {
        color: #0067f4;
        background-color: transparent;
    }

.light-rounded-buttons .light-rounded-three {
    overflow: hidden;
    line-height: 50px;
    color: #fff;
    background: -webkit-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
    background: -o-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
    background: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
    background-size: 200% auto;
    line-height: 52px;
    border: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .light-rounded-buttons .light-rounded-three {
        line-height: 44px;
    }
}

@media (max-width: 767px) {
    .light-rounded-buttons .light-rounded-three {
        line-height: 44px;
    }
}

.light-rounded-buttons .light-rounded-three:hover {
    background-position: right center;
}

.light-rounded-buttons .light-rounded-four {
    border-color: #0067f4;
    padding-left: 60px;
}

@media (max-width: 767px) {
    .light-rounded-buttons .light-rounded-four {
        padding-left: 40px;
    }
}

.light-rounded-buttons .light-rounded-four span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    left: 30px;
    line-height: normal;
}

@media (max-width: 767px) {
    .light-rounded-buttons .light-rounded-four span {
        left: 15px;
    }
}

.light-rounded-buttons .light-rounded-four:hover {
    color: #0067f4;
    background-color: rgba(0, 103, 244, 0.4);
}

    .light-rounded-buttons .light-rounded-four:hover i {
        -webkit-animation: iconTranslateY 0.5s forwards;
        -moz-animation: iconTranslateY 0.5s forwards;
        -o-animation: iconTranslateY 0.5s forwards;
        animation: iconTranslateY 0.5s forwards;
    }

.light-rounded-buttons .light-rounded-five {
    color: #fff;
    background-color: #0067f4;
    border-color: #0067f4;
    padding-left: 60px;
}

@media (max-width: 767px) {
    .light-rounded-buttons .light-rounded-five {
        padding-left: 40px;
    }
}

.light-rounded-buttons .light-rounded-five span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    left: 30px;
    line-height: normal;
}

@media (max-width: 767px) {
    .light-rounded-buttons .light-rounded-five span {
        left: 15px;
    }
}

.light-rounded-buttons .light-rounded-five:hover {
    color: #0067f4;
    background-color: transparent;
}

    .light-rounded-buttons .light-rounded-five:hover i {
        -webkit-animation: iconTranslateY 0.5s forwards;
        -moz-animation: iconTranslateY 0.5s forwards;
        -o-animation: iconTranslateY 0.5s forwards;
        animation: iconTranslateY 0.5s forwards;
    }

.light-rounded-buttons .light-rounded-six {
    padding-right: 60px;
    overflow: hidden;
    line-height: 50px;
    color: #fff;
    background: -webkit-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
    background: -o-linear-gradient(left, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
    background: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
    background-size: 200% auto;
    line-height: 52px;
    border: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .light-rounded-buttons .light-rounded-six {
        line-height: 44px;
    }
}

@media (max-width: 767px) {
    .light-rounded-buttons .light-rounded-six {
        padding-right: 40px;
        line-height: 44px;
    }
}

.light-rounded-buttons .light-rounded-six span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    right: 30px;
    line-height: normal;
}

@media (max-width: 767px) {
    .light-rounded-buttons .light-rounded-six span {
        right: 15px;
    }
}

.light-rounded-buttons .light-rounded-six:hover {
    background-position: right center;
}

    .light-rounded-buttons .light-rounded-six:hover i {
        -webkit-animation: iconTranslateY 0.5s forwards;
        -moz-animation: iconTranslateY 0.5s forwards;
        -o-animation: iconTranslateY 0.5s forwards;
        animation: iconTranslateY 0.5s forwards;
    }

.btn-blue {
    color: #fff;
    background-color: #0023C4;
    font-weight: bold;
}

    .btn-blue:hover, .btn-blue:active, .btn-blue.hover {
        color: #0023C4;
        background-color: transparent;
        border:2px solid #0023C4;
    }
